#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #1E2044;
  margin-top: auto;
}

a {
  text-decoration: none; 
  color: #62688f;
}

#footer-text {
  color: #FFFFFF;
}